<form class="form-horizontal" action='/create_review' method='POST'>
    <div class="form-group fluid-container">
        <div class=row>
            <div class="col-sm-3"></div>
            <div class="col-sm-4"
                <label class="control-label" for="title"></label>
                <input type="text" name = "title" class="form-control" aria describedby="title" placeholder="Book Title">

                <label class="control-label" for="category"></label>
                <input type="text" name = "category" class="form-control" aria describedby="category" placeholder="Category">

                <label class="control-label" for="date"></label>
                <input type="text" name = "date" class="form-control" aria describedby="category" placeholder="Publication Year">

                <label class="control-label" for="review"></label>
                <textarea type="textarea" name = "review" class="form-control" rows="10" aria describedby="review" placeholder="Review"></textarea>
                <div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            <div class="col-sm-6"></div>
        </div>
    </div>
</form>


<!-- <div>
    <button type="submit" class="btn btn-primary">Submit</button>
</div> -->
