<form class="form-horizontal" action='/create_review' method='POST'>
    <div class="form-group fluid-container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="height col-sm-6">
                <label></label>
                <input type="text" name = "book_title" class="form-control" aria describedby="title" placeholder="Book Title">

                <label></label>
                <input type="text" name = "author" class="form-control" aria describedby="author" placeholder="Author's Last Name">

                <label></label>
                <input type="text" name ="category" class="form-control" aria describedby="category" placeholder="Category">

                <label class="control-label" for="date"></label>
                <input type="text" name ="publication_date" class="form-control" aria describedby="category" placeholder="Publication Year">

                <label class="control-label" for="review"></label>
                <textarea type="textarea" name = "review" class="form-control" rows="10" aria describedby="review" placeholder="Review"></textarea>
                <br></br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</form>


<!-- <div>
    <button type="submit" class="btn btn-primary">Submit</button>
</div> -->
