<form action="/search" method="GET">
  <div class="form-group row">
      <div class="col-lg-12">
          <label for=""></label>
          <input type="" name="searchTerm" class="form-control form-control-lg" id="search-bar" aria-describedby="search" placeholder="Search">
      <div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</form>
